<a href="https://colab.research.google.com/github/idan424/Comp.Learning_Neuro/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter("ignore")

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
!git clone https://github.com/idan424/Comp.Learning_Neuro

Cloning into 'Comp.Learning_Neuro'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 12 (delta 2), reused 8 (delta 1), pack-reused 0
Unpacking objects: 100% (12/12), done.

In [ ]:
PATH = '/content/Comp.Learning_Neuro/'
_files = ['Run_200 02.trc', 'Run_300 02.trc', 'Run_400 02.trc', 'Run_500 02.trc']
f = _files[0]

def load_data(f):
    _data = pd.read_table(PATH+f, header=4, index_col=0).iloc[:,:-1]
    _data = _data.rename(columns={'Unnamed: 1':'Time'})
    _data.reset_index(inplace=True)
    labels = pd.DataFrame(np.ones(len(_data)-2)*int(f[4:7]))
    return _data, labels

def add_norm(_data):

    for n in range(1,len(_data.columns)//3+1):
        R_data = np.linalg.norm(_data[[f"X{n}",f"Y{n}",f"Z{n}"]].values,axis=1)
        _data.insert(n*4+1,f'norm{n}',R_data)

    return _data

def add_av(_data):
    v_data = _data.copy().drop('Time', axis=1).diff()
    a_data = v_data.diff()

    v_data = v_data.rename(columns={n:f"V_{n}" for n in _data.columns})
    a_data = a_data.rename(columns={n:f"A_{n}" for n in _data.columns})

    return _data.join([v_data, a_data]).dropna()

def divide_dataset(_data, label):
    N = len(_data)//10
    return [ _data.loc[10*n:10*(n+1)-1] for n in range(N)], label[0:N]

def extract_features(seg_list):
    data = pd.DataFrame([segment_processing(seg) for seg in seg_list]) 
    return data

def segment_processing(_seg): #TODO: process a segment and concat results to the series
    seg = _seg.drop(['Time','index'], axis=1)

    mean_data = seg.mean().rename({n:f'mean_{n}'for n in seg.columns})
    std_data = seg.std().rename({n:f'std_{n}'for n in seg.columns})
    max_data = seg.max().rename({n:f'max_{n}'for n in seg.columns})
    min_data = seg.min().rename({n:f'min_{n}'for n in seg.columns})
    median_data = seg.median().rename({n:f'median_{n}'for n in seg.columns})

    # פה צריך לחשוב על עוד פיצ'רים שאנחנו רוצים להכניס לשם

    return mean_data.append([std_data,max_data,min_data,median_data])  # returns a pd.Series()



def process_file(f):
    X,y = load_data(f)
    X = add_norm(X)
    X = add_av(X)
    segments, y = divide_dataset(X, y)
    X = extract_features(segments)
    return (X,y)  # returns a tuple


files = _files
Xy = [process_file(f) for f in files]
Xy = list(zip(*Xy))  # this flip the tuple axis order

X, y = pd.concat(Xy[0]), pd.concat(Xy[1])

print(X,y)

        mean_X1      mean_Y1  ...  median_A_Z42  median_A_norm42
0   1082.295521  1095.245126  ...      0.020367        -0.778810
1   1084.604082  1064.520578  ...     -0.093186        -0.483643
2   1070.161569  1020.873275  ...      0.114094         0.818633
3   1064.539822  1058.189897  ...     -0.012860         0.285994
4   1071.028948  1100.267987  ...     -0.159018        -0.601355
..          ...          ...  ...           ...              ...
34   993.593984  1049.887616  ...     -0.043008        -0.915213
35   973.351992  1018.116769  ...      0.494933        -0.169671
36   969.060577  1000.450789  ...      0.372260         1.072537
37  1003.849861  1023.164068  ...     -0.137495        -0.500993
38  1008.346280   995.546229  ...     -0.271480        -0.081714

[190 rows x 2530 columns]         0
0   200.0
1   200.0
2   200.0
3   200.0
4   200.0
..    ...
34  500.0
35  500.0
36  500.0
37  500.0
38  500.0

[190 rows x 1 columns]

> # train-test split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

        mean_X1      mean_Y1  ...  median_A_Z42  median_A_norm42
46   989.511399  1071.926124  ...      0.186261        -0.541178
9   1003.857005  1046.763347  ...     -0.123481        -0.756896
27   845.341231  1079.712215  ...     -0.292293        -0.171537
8   1027.412254  1044.213275  ...      0.156803        -0.674535
24   821.517213  1071.511704  ...     -0.270927         0.996531
..          ...          ...  ...           ...              ...
23   984.059980  1019.538462  ...     -0.121491         0.730137
23   834.762577  1116.109936  ...      0.002395        -0.595919
45   981.529924  1033.878856  ...      0.125689         0.459860
21   981.753023  1072.584122  ...     -1.470950         0.106452
2   1027.451744  1044.078054  ...      0.000918         0.426758

[152 rows x 2530 columns]

In [ ]:
knn = KNeighborsClassifier(n_neighbors=1)
_ = knn.fit(X_train, y_train)
y_predicted = knn.predict(X_test)
y_predicted = pd.DataFrame(data=y_predicted,index = y_test.index)

misclassification_rate = np.mean(y_predicted != y_test) * 100
misclassification_rate

0    0.0
dtype: float64

## _##########################################################_

In [ ]:
# X.plot()
# ax = plt.gca()
# ax.legend().remove()
# ax.figure.set_size_inches([16,200])
y_train

        0
46  300.0
9   500.0
27  400.0
8   300.0
24  400.0
..    ...
23  300.0
23  400.0
45  200.0
21  300.0
2   500.0

[152 rows x 1 columns]